.openy-ds-layout {

  .ipe-actions {
    display: flex;
    min-height: 20 / 1440 * 100vw;
    border-radius: 5 / 1440 * 100vw 5 / 1440 * 100vw 0 0;
    padding: 5 / 1440 * 100vw;
    font-size: 0;

    h5,
    li {
      font-size: 12 / 1440 * 100vw;

      @media (max-width: 1000px)  {
        font-size: 10px;
      }
    }
  }

  .ipe-actions-block {
    position: absolute;
    width: 100%;
    z-index:11;
  }

  .ipe-action-list {
    padding-right: 20px;

    .ipe-icon {
      height: 24 / 1920 * 100vw;
      margin-top: -10 / 1920 * 100vw;
      display: block;
    }

    [data-action-id="move"] select {
      font-size: 14 / 1920 * 100vw;

      @media (max-width: 1000px)  {
        font-size: 10px;
      }
    }
  }

  .ipe-icon {
    font-size: 24 / 1920 * 100vw;

    @media (max-width: 1000px)  {
      font-size: 12px;
    }

    &.ipe-icon-remove {
      font-size: 20 / 1920 * 100vw;
      @media (max-width: 1000px)  {
        font-size: 10px;
      }
    }
  }

  .block-region-ticker {
    > .ipe-actions {
      margin-top: 0;
      transition: margin-top 400ms;
    }

    &:hover {

      > .ipe-actions {
        margin-top: -20 / 1440 * 100vw;
      }
    }
  }
  [data-block-id].syncing{
    &:before {
      margin-top: 20px;
    }
  }
}

.ipe-tab a {
  font-size: 13px;
  padding: 5px 10px 7px 3px;
}

.ipe-tab.active a,
.ipe-tab a:hover {
  padding-bottom: 5px;
}

#panels-ipe-tray {
  bottom: -30px;
  transition: bottom 0.4s;

  &:hover {
    bottom: 0;
  }

  .panels-ipe-tabs-open & {
    bottom: 0;
  }
}
