body.node--type-screen-content {
  padding-top: 0 !important;
}

.progress--small {
  background: #6d4e92;
  width: 100%;
  border-radius: 2px;
  margin: 8px 0;
  overflow: hidden;
  height: 4px;

  .progress-bar {
    background: #c6168d;
    height: inherit;
  }
}

.progress--medium {
  background: #f7f7f7;
  width: 100%;
  border-radius: 4px;
  margin: 8px 0;
  overflow: hidden;
  height: 8px;

  .progress-bar {
    background: #c6168d;
    height: inherit;
  }
}

.node--type-screen-content {

  .ui-widget.ui-dialog {
    max-height: 100% !important;
    max-width: 100% !important;

    .ui-dialog-titlebar {
      max-width: 100% !important;
      padding: 5px;

      .ui-dialog-title {
        font-size: 30 / 1920 * 100vw;
        line-height: 30 / 1920 * 100vw;
      }

      .ui-dialog-titlebar-close {
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .ui-dialog-content {
      padding: 20 / 1920 * 100vw;
      max-height: 100% !important;
      max-width: 100% !important;

      iframe {
        max-height: 90vh;
      }
    }
  }

}
