@font-face {
  font-family: "Cachet-Book";
  src: url("../fonts/cachet-book/Cachet-Book.ttf") format("truetype"), url("../fonts/cachet-book/Cachet-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/cachet-book/Cachet-Book.woff") format("woff"), url("../fonts/cachet-book/Cachet-Book.svg#Cachet-Book") format("svg"); }

@font-face {
  font-family: "Cachet-Bold";
  src: url("../fonts/cachet-bold/Cachet-Bold.ttf") format("truetype"), url("../fonts/cachet-bold/Cachet-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/cachet-bold/Cachet-Bold.woff") format("woff"), url("../fonts/cachet-bold/Cachet-Bold.svg#Cachet-Bold") format("svg"); }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-size: 10px;
  background: #fff;
  color: #000;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%; }

html, body {
  min-height: 100%; }

body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1.4rem;
  margin: 0;
  color: #555;
  line-height: 1.43571;
  box-sizing: border-box; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 70%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0;
  vertical-align: top; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.hidden {
  display: none !important; }

.decor--flex, .header--inner, .block-table .row, .page-entry .page-content, .page-split .page-content, .content-coll, .section--small-banners, .block-banner, .block-event .content, .block-event .wrapper-info, .block-event .wrapper-time {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.decor--flex-wrap, .content-coll--big {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.decor--justify-start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.decor--justify-end, .block-event .content {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.decor--justify-center, .block-event .wrapper-info, .block-event .wrapper-time {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.decor--justify-between, .header--inner, .block-table .row, .content-coll--big, .block-banner--footer .block-event .content {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.decor--align-start {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.decor--align-end, .block-banner {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.decor--align-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.decor--align-between {
  -webkit-box-align: space-between;
  -webkit-align-items: space-between;
      -ms-flex-align: space-between;
          align-items: space-between; }

.decor--direction-column, .page-entry .page-content, .content-coll--big, .block-event .wrapper-info, .block-event .wrapper-time {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.decor--row-reverse, .block-event .content {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.decor--row-initial, .block-banner--footer .block-event .content {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }

@font-face {
  font-family: 'Digital-Signage-icons';
  src: url("../fonts/digital-signage-icons/Digital-Signage-icons.eot?u5k0qy");
  src: url("../fonts/digital-signage-icons/Digital-Signage-icons.eot?u5k0qy#iefix") format("embedded-opentype"), url("../fonts/digital-signage-icons/Digital-Signage-icons.ttf?u5k0qy") format("truetype"), url("../fonts/digital-signage-icons/Digital-Signage-icons.woff?u5k0qy") format("woff"), url("../fonts/digital-signage-icons/Digital-Signage-icons.svg?u5k0qy#Digital-Signage-icons") format("svg");
  font-weight: normal;
  font-style: normal; }

.ds-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Digital-Signage-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.ds-icon-Y_letter:before {
  content: "\e900"; }

.ds-icon-flag_football:before {
  content: "\e901"; }

.ds-icon-floor_hockey:before {
  content: "\e902"; }

.ds-icon-lacrosse:before {
  content: "\e903"; }

.ds-icon-martial:before {
  content: "\e904"; }

.ds-icon-running_club:before {
  content: "\e905"; }

.ds-icon-soccer:before {
  content: "\e906"; }

.ds-icon-olympic:before {
  content: "\e907"; }

.ds-icon-track_and_field:before {
  content: "\e908"; }

.ds-icon-tumbling:before {
  content: "\e909"; }

.ds-icon-volleyball:before {
  content: "\e90a"; }

.ds-icon-run:before {
  content: "\e90b"; }

.ds-icon-family:before {
  content: "\e90c"; }

.ds-icon-donate:before {
  content: "\e90d"; }

.ds-icon-discount:before {
  content: "\e90e"; }

.ds-icon-event:before {
  content: "\e90f"; }

.ds-icon-prize:before {
  content: "\e910"; }

.ds-icon-announcment:before {
  content: "\e911"; }

.ds-icon-baseball:before {
  content: "\e912"; }

.ds-icon-basketball:before {
  content: "\e913"; }

.ds-icon-dodgeball:before {
  content: "\e914"; }

.ds-icon-zoom:before {
  content: "\e915"; }

.ds-icon-check:before {
  content: "\e916"; }

.ds-icon-cardio:before {
  content: "\e917"; }

.ds-icon-strength:before {
  content: "\e918"; }

.ds-icon-aquatics:before {
  content: "\e919"; }

.ds-icon-yoga:before {
  content: "\e91a"; }

.ds-icon-dance:before {
  content: "\e91b"; }

.ds-icon-crunches:before {
  content: "\e91c"; }

.ds-icon-camp:before {
  content: "\e91d"; }

.ds-icon-phone:before {
  content: "\e91e"; }

.ds-icon-time:before {
  content: "\e91f"; }

.ds-icon-date:before {
  content: "\e920"; }

.ds-icon-location:before {
  content: "\e921"; }

.ds-icon-direction:before {
  content: "\e922"; }

.ds-icon-question:before {
  content: "\e923"; }

.ds-icon-video:before {
  content: "\e924"; }

.ds-icon-message:before {
  content: "\e925"; }

.ds-icon-tip:before {
  content: "\e926"; }

.ds-icon-mail:before {
  content: "\e927"; }

body.node--type-screen-content {
  padding-top: 0 !important; }

.progress--small {
  background: #6d4e92;
  width: 100%;
  border-radius: 2px;
  margin: 8px 0;
  overflow: hidden;
  height: 4px; }
  .progress--small .progress-bar {
    background: #c6168d;
    height: inherit; }

.progress--medium {
  background: #f7f7f7;
  width: 100%;
  border-radius: 4px;
  margin: 8px 0;
  overflow: hidden;
  height: 8px; }
  .progress--medium .progress-bar {
    background: #c6168d;
    height: inherit; }

.node--type-screen-content .ui-widget.ui-dialog {
  max-height: 100% !important;
  max-width: 100% !important; }
  .node--type-screen-content .ui-widget.ui-dialog .ui-dialog-titlebar {
    max-width: 100% !important;
    padding: 5px; }
    .node--type-screen-content .ui-widget.ui-dialog .ui-dialog-titlebar .ui-dialog-title {
      font-size: 1.5625vw;
      line-height: 1.5625vw; }
    .node--type-screen-content .ui-widget.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close {
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); }
  .node--type-screen-content .ui-widget.ui-dialog .ui-dialog-content {
    padding: 1.04167vw;
    max-height: 100% !important;
    max-width: 100% !important; }
    .node--type-screen-content .ui-widget.ui-dialog .ui-dialog-content iframe {
      max-height: 90vh; }

.openy-ds-layout .ipe-actions {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 1.38889vw;
  border-radius: 0.34722vw 0.34722vw 0 0;
  padding: 0.34722vw;
  font-size: 0; }
  .openy-ds-layout .ipe-actions h5,
  .openy-ds-layout .ipe-actions li {
    font-size: 0.83333vw; }
    @media (max-width: 1000px) {
      .openy-ds-layout .ipe-actions h5,
      .openy-ds-layout .ipe-actions li {
        font-size: 10px; } }

.openy-ds-layout .ipe-actions-block {
  position: absolute;
  width: 100%;
  z-index: 11; }

.openy-ds-layout .ipe-action-list {
  padding-right: 20px; }
  .openy-ds-layout .ipe-action-list .ipe-icon {
    height: 1.25vw;
    margin-top: -0.52083vw;
    display: block; }
  .openy-ds-layout .ipe-action-list [data-action-id="move"] select {
    font-size: 0.72917vw; }
    @media (max-width: 1000px) {
      .openy-ds-layout .ipe-action-list [data-action-id="move"] select {
        font-size: 10px; } }

.openy-ds-layout .ipe-icon {
  font-size: 1.25vw; }
  @media (max-width: 1000px) {
    .openy-ds-layout .ipe-icon {
      font-size: 12px; } }
  .openy-ds-layout .ipe-icon.ipe-icon-remove {
    font-size: 1.04167vw; }
    @media (max-width: 1000px) {
      .openy-ds-layout .ipe-icon.ipe-icon-remove {
        font-size: 10px; } }

.openy-ds-layout .block-region-ticker > .ipe-actions {
  margin-top: 0;
  -webkit-transition: margin-top 400ms;
  transition: margin-top 400ms; }

.openy-ds-layout .block-region-ticker:hover > .ipe-actions {
  margin-top: -1.38889vw; }

.openy-ds-layout [data-block-id].syncing:before {
  margin-top: 20px; }

.ipe-tab a {
  font-size: 13px;
  padding: 5px 10px 7px 3px; }

.ipe-tab.active a,
.ipe-tab a:hover {
  padding-bottom: 5px; }

#panels-ipe-tray {
  bottom: -30px;
  -webkit-transition: bottom 0.4s;
  transition: bottom 0.4s; }
  #panels-ipe-tray:hover {
    bottom: 0; }
  .panels-ipe-tabs-open #panels-ipe-tray {
    bottom: 0; }

.openy-ds-layout {
  background-size: cover;
  background-position: center center;
  overflow: hidden; }
  .openy-ds-layout.scheme-orange {
    background-color: #fcaf17;
    background-image: url(../images/bg-body-orange.png); }
  .openy-ds-layout.scheme-blue {
    background-color: #0089d0;
    background-image: url(../images/bg-body-blue.png); }
  .openy-ds-layout.scheme-purple {
    background-color: #92278f;
    background-image: url(../images/bg-body.png); }
  .openy-ds-layout.landscape {
    width: 100vw;
    height: 56.25vw; }
  .openy-ds-layout.portrait {
    margin: auto;
    width: 56.25vh;
    height: 100vh; }
  .openy-ds-layout .block-wrapper {
    height: 100%; }
  .openy-ds-layout .ipe-actions {
    background-color: rgba(128, 128, 128, 0.5); }

.header {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10; }

.header--inner {
  padding: 20px 50px; }
  .header--inner .title,
  .header--inner .time {
    font-family: "Cachet-Bold";
    font-weight: normal;
    font-size: 4rem;
    line-height: 1.25;
    text-transform: uppercase; }
  .header--inner .title {
    color: #c6168d; }
  .header--inner .time {
    color: #fff;
    position: relative;
    padding: 0 0 0 42px; }
    .header--inner .time:before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      background: transparent url("../images/icon-time.png") 50% 50% no-repeat;
      background-size: 100% 100%;
      width: 28px;
      height: 28px;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); }

.block-table--current + .block-table--upcoming {
  margin-top: 50px; }

.block-table {
  font-family: "Cachet-Bold";
  font-weight: normal;
  width: 100%;
  margin: 0 auto;
  color: #fff;
  padding: 0 50px;
  box-sizing: border-box; }
  .block-table .table-title {
    font-family: "Cachet-Bold";
    font-size: 2rem;
    line-height: 1.5;
    text-transform: uppercase;
    color: #654d81;
    margin: 0 0 16px 0; }
    .block-table .table-title + .row:not(.row--active) {
      border-top: 1px solid rgba(109, 78, 146, 0.6); }
  .section--shedules .block-table {
    padding: 0; }
  .block-table span {
    display: block; }
  .block-table .row {
    border-bottom: 1px solid rgba(109, 78, 146, 0.6);
    padding: 18px 40px 17px;
    box-sizing: border-box; }
    .block-table .row + .row--active {
      margin: 20px 0 0; }
  .block-table .row--disabled {
    color: #7d5fa0; }
    .block-table .row--disabled .user,
    .block-table .row--disabled .duration {
      color: inherit; }
    .block-table .row--disabled .user:before {
      background: transparent url("../images/icon-user-disabled.png") 50% 50% no-repeat;
      background-size: 100% 100%; }
  .block-table .row--active {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(109, 78, 146, 0.6);
    border-radius: 4px; }
    .block-table .row--active .duration {
      font-size: 1.8rem;
      line-height: 1.22222; }
    .block-table .row--active .period,
    .block-table .row--active .info,
    .block-table .row--active .user {
      font-size: 2.4rem;
      line-height: 1.66667; }
    .block-table .row--active .group {
      font-size: 2rem;
      line-height: 2; }
  .block-table .info,
  .block-table .user {
    font-size: 2rem;
    line-height: 1.5; }
  .block-table .period,
  .block-table .info {
    text-transform: uppercase; }
  .block-table .period {
    font-size: 1.8rem;
    line-height: 1.66667; }
    .section--shedules .block-table .period {
      font-size: 2rem;
      line-height: 1.5; }
  .block-table .user {
    color: #c6168d;
    position: relative;
    padding: 0 0 0 26px; }
    .block-table .user:before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      width: 14px;
      height: 20px;
      background: transparent url("../images/icon-user.png") 50% 50% no-repeat;
      background-size: 100% 100%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); }
  .block-table .group {
    font-size: 1.5rem;
    line-height: 2;
    text-transform: uppercase; }
    .section--shedules .block-table .group {
      font-size: 1.6rem;
      line-height: 1.875; }
  .block-table .duration {
    font-family: "Cachet-Book";
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 1.54615;
    color: #bfa6dc; }
    .section--shedules .block-table .duration {
      font-size: 1.8rem; }
  .block-table .cell--time {
    min-width: 84px;
    padding: 0 50px 0 0; }
  .block-table .cell--group {
    min-width: 100px; }
  .block-table .cell--info {
    width: 100%;
    padding: 0 16px 0 50px; }
  .block-table .cell--user {
    font-family: "Cachet-Book";
    font-weight: normal;
    min-width: 150px;
    padding: 0 16px; }

.page-split,
.page-table,
.page-info {
  background: #2d154a url("../images/bg-body.png") 50% 50% no-repeat;
  background-attachment: fixed;
  background-size: cover; }

.page-table {
  padding: 122px 0 0 0; }

.page-info {
  padding: 140px 0 0 0; }
  .page-info .page-content {
    padding: 0 50px; }

.page-entry {
  height: 100%; }
  .page-entry .page-content {
    height: 100%; }

.page-split {
  height: 100%; }
  .page-split .page-content {
    height: 100%; }

.content-coll {
  height: 100%; }

.content-coll--big {
  width: 58%; }

.content-coll--small {
  width: 42%; }

.section--entry,
.section--shedules,
.section--small-banners {
  width: 100%; }

.section--shedules {
  padding: 0 50px;
  box-sizing: border-box; }
  .section--shedules .title {
    font-family: "Cachet-Bold";
    font-weight: normal;
    font-size: 5rem;
    line-height: 1.16;
    text-transform: uppercase;
    color: #fff;
    padding: 14px 0; }

.block-banner--small {
  width: 50%;
  padding: 64px;
  box-sizing: border-box;
  height: 410px;
  color: #fff;
  position: relative;
  background-position: -9999px -9999px;
  background-repeat: no-repeat;
  overflow: hidden; }
  .block-banner--small > * {
    z-index: 2;
    position: relative; }
  .block-banner--small.banner--right {
    background-color: #01a490; }
  .block-banner--small.banner--left {
    background-color: #0060af; }
  .block-banner--small.banner--image:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: inherit;
    background-repeat: inherit;
    background-size: cover;
    background-blend-mode: soft-light;
    background-color: inherit;
    margin: auto;
    opacity: 0.34;
    z-index: 1; }
  .block-banner--small .title {
    font-family: "Cachet-Bold";
    font-weight: normal;
    text-transform: uppercase; }
    .block-banner--small .title strong,
    .block-banner--small .title span {
      display: block; }
    .block-banner--small .title strong {
      font-size: 6rem;
      line-height: 1.2;
      margin: 0 0 6px 0; }
    .block-banner--small .title span {
      font-size: 3rem;
      line-height: 1.46667; }
  .block-banner--small .description {
    font-size: 2rem;
    line-height: 1.3;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding: 28px 0 0 0;
    margin: 26px 0 0 0; }
    .block-banner--small .description p {
      margin: 0; }

.block-banner {
  height: 100%;
  background: #3a1e5c url("../images/bg-entry.jpg") 50% 100% no-repeat;
  background-size: cover;
  padding: 90px 150px 150px;
  box-sizing: border-box; }
  .section--entry .block-banner {
    padding: 84px;
    background: #000 url("../images/bg-entry-small.jpg") 100% 0 no-repeat;
    background-size: cover; }
  .block-banner .logo {
    display: block;
    max-width: 565px; }
    .section--entry .block-banner .logo {
      max-width: 384px; }
    .block-banner .logo img {
      width: 100%;
      height: auto; }
  .block-banner .description {
    font-size: 5rem;
    line-height: 1.24;
    color: #fff;
    padding: 0 0 0 212px; }
    .section--entry .block-banner .description {
      padding-left: 146px;
      font-size: 3rem;
      line-height: 1.6; }
    .block-banner .description p {
      margin: 0; }
    .block-banner .description a {
      font-size: inherit;
      line-height: inherit;
      color: #c6168d;
      text-decoration: none; }
      .block-banner .description a:hover {
        box-shadow: 0 2px 0 0 currentColor; }

.block-banner--footer {
  background: #f0f0f0; }

.wrapper-coming {
  padding: 0 0 1px 0; }
  .wrapper-coming .title {
    font-family: "Cachet-Bold";
    font-weight: normal;
    font-size: 5rem;
    line-height: 1.28;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin: 0 0 32px 0; }

.loader .loader-icon {
  height: 100px;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  position: absolute;
  top: 50%;
  width: 100px;
  background-image: url(../images/rolling.svg);
  background-position: center;
  background-size: contain; }

.ds-screen.ds-screen-full-size .screen.screen-active {
  cursor: none; }

.ds-screen.ds-screen-full-size.user-logged-in .screen.screen-active {
  cursor: default; }

.screen {
  display: none; }

.screen-active {
  display: block; }

.screen,
.screen-content {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden; }

.screen-content {
  display: none;
  font-family: "Cachet-Bold";
  font-weight: normal;
  padding: 0; }

.screen-content-active,
.screen-content-activating {
  display: block; }

.block-event {
  font-family: "Cachet-Bold";
  font-weight: normal;
  border-radius: 20px;
  background: #f0f0f0;
  margin: 0 0 74px 0;
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.3); }
  .block-banner--footer .block-event {
    margin: 0; }
  .wrapper-coming .block-event {
    margin-left: 72px;
    margin-right: 72px;
    opacity: 0.6; }
  .block-event .wrapper-info {
    padding: 50px; }
    .block-event .wrapper-info .label {
      font-size: 3rem;
      line-height: 1.33667;
      text-transform: uppercase;
      display: block;
      color: #424242; }
    .block-event .wrapper-info .info,
    .block-event .wrapper-info .user {
      display: block;
      text-transform: uppercase; }
      .block-banner--footer .block-event .wrapper-info .info, .block-banner--footer
      .block-event .wrapper-info .user {
        display: inline-block;
        vertical-align: baseline;
        text-transform: uppercase; }
    .block-event .wrapper-info .info {
      font-size: 10rem;
      line-height: 1.14;
      color: #0060af; }
      .block-banner--footer .block-event .wrapper-info .info {
        font-size: 6rem;
        line-height: 1.035; }
      .wrapper-coming .block-event .wrapper-info .info {
        font-size: 8rem; }
    .block-event .wrapper-info .user {
      font-size: 5rem;
      line-height: 1.44;
      padding: 0; }
      .block-banner--footer .block-event .wrapper-info .user {
        font-size: 4rem;
        color: #c6168d;
        padding: 0 0 0 20px; }
  .block-event .wrapper-time {
    background: #fff;
    padding: 50px;
    border-radius: 20px 0 0 20px; }
    .block-banner--footer .block-event .wrapper-time {
      border-radius: 0; }
    .block-event .wrapper-time span {
      display: block;
      text-align: center; }
    .block-event .wrapper-time .time {
      font-size: 12rem;
      line-height: 1.16667;
      color: #555; }
      .block-banner--footer .block-event .wrapper-time .time {
        font-size: 6rem;
        line-height: 1; }
      .wrapper-coming .block-event .wrapper-time .time {
        font-size: 10.8rem; }
    .block-event .wrapper-time .label {
      font-size: 5rem;
      line-height: 1.44;
      color: #a7a7a7;
      margin: 0 0 20px 0; }
      .block-banner--footer .block-event .wrapper-time .label {
        font-size: 3rem;
        line-height: 1.33333;
        margin: 0;
        text-transform: uppercase; }
      .wrapper-coming .block-event .wrapper-time .label {
        font-size: 4.4rem; }

.openy-digital-signage-block-time .block-time {
  display: inline;
  position: absolute;
  z-index: 1000; }

.openy-digital-signage-block-time .block-time-color-white {
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.25); }

.openy-digital-signage-block-time .block-time-color-black {
  color: #000;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.25); }

.openy-digital-signage-block-time .block-time-position-top-right {
  right: 5%;
  top: 5%; }

.openy-digital-signage-block-time .block-time-position-top-left {
  left: 5%;
  top: 5%; }

.openy-digital-signage-block-time .block-time-position-bottom-right {
  bottom: 5%;
  right: 5%; }

.openy-digital-signage-block-time .block-time-position-bottom-left {
  bottom: 5%;
  left: 5%; }

.openy-digital-signage-block-time .time {
  font-family: 'Cachet-Bold', Arial;
  font-size: 300%;
  font-weight: normal;
  line-height: 1.25;
  padding-left: 35px;
  text-transform: uppercase; }
  .openy-digital-signage-block-time .time:before {
    content: "\e023";
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-size: 0.76em;
    left: 0;
    padding-right: 0.3em;
    -webkit-transform: translateY(4%);
    -ms-transform: translateY(4%);
    transform: translateY(4%); }

.panels-ipe-active .openy-digital-signage-block-time .block-time {
  background: #ccc;
  bottom: auto;
  left: auto;
  position: relative;
  right: auto;
  top: auto; }

.openy-ds-layout .block-plugin-id--openy_digital_signage_block_time {
  height: auto; }

.openy-digital-signage-block-html {
  height: 100%;
  margin: 0;
  padding: 0; }
  .openy-digital-signage-block-html .block-background-image {
    background-position: center center;
    background-size: cover;
    height: 100%;
    padding: 5%; }

/* Effective height is 108px */
.openy-digital-signage-block-static-ticker {
  height: 5.625vw;
  position: relative; }
  .openy-digital-signage-block-static-ticker .block-static-ticker {
    height: 100%; }

.openy-digital-signage-block-static-ticker__icon {
  font-size: 2.60417vw;
  height: 100%;
  left: 0;
  line-height: 5.625vw;
  position: absolute;
  text-align: center;
  top: 0;
  width: 5.625vw; }
  .openy-digital-signage-block-static-ticker__icon .ds-icon {
    line-height: 5.625vw; }
    .openy-digital-signage-block-static-ticker__icon .ds-icon.ds-icon-Y_letter:before {
      color: #fff; }

.openy-digital-signage-block-static-ticker__message {
  font-family: "Cachet", Arial, sans-serif;
  font-size: 1.5625vw;
  line-height: 5.625vw;
  padding-left: 5.625vw;
  text-align: center;
  height: 100%; }
  .openy-digital-signage-block-static-ticker__message a {
    color: #dd5828; }

.openy-ds-layout.portrait .openy-digital-signage-block-static-ticker {
  height: 5.625vh; }

.openy-ds-layout.portrait .openy-digital-signage-block-static-ticker__icon {
  font-size: 1.5625vh;
  line-height: 5.625vh;
  width: 5.625vh; }
  .openy-ds-layout.portrait .openy-digital-signage-block-static-ticker__icon .ds-icon {
    line-height: 5.625vh; }

.openy-ds-layout.portrait .openy-digital-signage-block-static-ticker__message {
  font-size: 1.5625vh;
  line-height: 5.625vh;
  padding-left: 5.625vh; }

.block-static-ticker-color-orange {
  background-color: #fcaf17; }
  .block-static-ticker-color-orange .openy-digital-signage-block-static-ticker__icon {
    background-color: #f47920;
    color: #fcaf17; }
  .block-static-ticker-color-orange .openy-digital-signage-block-static-ticker__message {
    color: #fff; }
    .block-static-ticker-color-orange .openy-digital-signage-block-static-ticker__message a {
      color: #dd5828; }

.block-static-ticker-color-blue {
  background-color: #00aeef; }
  .block-static-ticker-color-blue .openy-digital-signage-block-static-ticker__icon {
    background-color: #0089d0;
    color: #00aeef; }
  .block-static-ticker-color-blue .openy-digital-signage-block-static-ticker__message {
    color: #fff; }
    .block-static-ticker-color-blue .openy-digital-signage-block-static-ticker__message a {
      color: #0060af; }

/* Effective height is 108px */
.openy-digital-signage-block-system-message {
  width: 100%;
  height: 100%;
  position: relative; }
  .openy-digital-signage-block-system-message .block-system-message {
    height: 100%;
    width: 100%; }

.openy-digital-signage-block-system-message__icon {
  background-color: #fff;
  border-radius: 6.04167vw;
  border: 5px solid #5c2e91;
  color: #5c2e91;
  height: 12.08333vw;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-150%);
      -ms-transform: translateX(-50%) translateY(-150%);
          transform: translateX(-50%) translateY(-150%);
  width: 12.08333vw;
  z-index: 20; }
  .openy-digital-signage-block-system-message__icon .ds-icon {
    font-size: 10.41667vw;
    line-height: 11.5625vw; }

.openy-digital-signage-block-system-message__message {
  background-color: transparent;
  background-image: url(../images/blocks/system-message-balloon.png);
  background-size: cover;
  height: 31.19792vw;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-45%);
      -ms-transform: translateX(-50%) translateY(-45%);
          transform: translateX(-50%) translateY(-45%);
  width: 68.33333vw;
  z-index: 10; }
  .openy-digital-signage-block-system-message__message .openy-digital-signage-block-system-message__message__inner {
    font-family: "Cachet-Book";
    font-size: 3.38542vw;
    left: 50%;
    line-height: 3.64583vw;
    letter-spacing: -0.15625vw;
    position: absolute;
    text-align: center;
    top: 52.92154%;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    width: 80.41159%; }
  .openy-digital-signage-block-system-message__message a {
    color: #dd5828; }

.openy-ds-layout.portrait .openy-digital-signage-block-system-message__icon {
  border-radius: 4.02778vh;
  height: 8.05556vh;
  width: 8.05556vh; }
  .openy-ds-layout.portrait .openy-digital-signage-block-system-message__icon .glyphicon {
    font-size: 4.02778vh;
    line-height: 8.05556vh; }

.openy-ds-layout.portrait .openy-digital-signage-block-system-message__message {
  height: 20.79861vh;
  width: 45.55556vh; }
  .openy-ds-layout.portrait .openy-digital-signage-block-system-message__message .openy-digital-signage-block-system-message__message__inner {
    font-size: 2.25694vh;
    line-height: 2.43056vh;
    letter-spacing: -0.10417vh; }

.block-system-message-color-orange {
  background-color: #f47920;
  background-image: url(../images/bg-body-orange.png);
  background-size: cover;
  background-position: center center; }
  .block-system-message-color-orange .openy-digital-signage-block-system-message__icon {
    border-color: #dd5828;
    color: #dd5828; }
  .block-system-message-color-orange .openy-digital-signage-block-system-message__message a {
    color: #dd5828; }

.block-system-message-color-blue {
  background-color: #0089d0;
  background-image: url(../images/bg-body-blue.png);
  background-size: cover;
  background-position: center center; }
  .block-system-message-color-blue .openy-digital-signage-block-system-message__icon {
    border-color: #0060af;
    color: #0060af; }
  .block-system-message-color-blue .openy-digital-signage-block-system-message__message a {
    color: #0060af; }

.block-system-message-color-purple {
  background-color: #92278f;
  background-image: url(../images/bg-body.png);
  background-size: cover;
  background-position: center center; }
  .block-system-message-color-purple .openy-digital-signage-block-system-message__icon {
    border-color: #5c2e91;
    color: #5c2e91; }
  .block-system-message-color-purple .openy-digital-signage-block-system-message__message a {
    color: #5c2e91; }

.openy-digital-signage-block-promotional {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative; }
  .openy-digital-signage-block-promotional .block-promotional {
    background-repeat: no-repeat;
    color: #231f20;
    height: 100%; }
    .openy-digital-signage-block-promotional .block-promotional.block-promotional-background-cover {
      background-size: cover; }
    .openy-digital-signage-block-promotional .block-promotional.block-promotional-background-contain {
      background-size: contain; }
    .openy-digital-signage-block-promotional .block-promotional.block-promotional-background-top {
      background-position: top center; }
    .openy-digital-signage-block-promotional .block-promotional.block-promotional-background-bottom {
      background-position: bottom center; }
    .openy-digital-signage-block-promotional .block-promotional.block-promotional-background-left {
      background-position: center left; }
    .openy-digital-signage-block-promotional .block-promotional.block-promotional-background-right {
      background-position: center right; }
    .openy-digital-signage-block-promotional .block-promotional.block-promotional-color-white .openy-digital-signage-block-promotional__headline {
      color: #fff; }
    .openy-digital-signage-block-promotional .block-promotional.block-promotional-color-white .openy-digital-signage-block-promotional__subheading {
      color: #e9e9e9; }
    .openy-digital-signage-block-promotional .block-promotional.block-promotional-color-orange .openy-digital-signage-block-promotional__headline {
      color: #f47920; }
    .openy-digital-signage-block-promotional .block-promotional.block-promotional-color-orange .openy-digital-signage-block-promotional__subheading {
      color: #dd5828; }
    .openy-digital-signage-block-promotional .block-promotional.block-promotional-color-orange.block-promotional-background-dark .openy-digital-signage-block-promotional__headline {
      color: #fcaf17; }
    .openy-digital-signage-block-promotional .block-promotional.block-promotional-color-orange.block-promotional-background-dark .openy-digital-signage-block-promotional__subheading {
      color: #f47920; }
    .openy-digital-signage-block-promotional .block-promotional.block-promotional-color-blue .openy-digital-signage-block-promotional__headline {
      color: #0089d0; }
    .openy-digital-signage-block-promotional .block-promotional.block-promotional-color-blue .openy-digital-signage-block-promotional__subheading {
      color: #0060af; }
    .openy-digital-signage-block-promotional .block-promotional.block-promotional-color-blue.block-promotional-background-dark .openy-digital-signage-block-promotional__headline {
      color: #00aeef; }
    .openy-digital-signage-block-promotional .block-promotional.block-promotional-color-blue.block-promotional-background-dark .openy-digital-signage-block-promotional__subheading {
      color: #0089d0; }
    .openy-digital-signage-block-promotional .block-promotional.block-promotional-color-purple .openy-digital-signage-block-promotional__headline {
      color: #92278f; }
    .openy-digital-signage-block-promotional .block-promotional.block-promotional-color-purple .openy-digital-signage-block-promotional__subheading {
      color: #5c2e91; }
    .openy-digital-signage-block-promotional .block-promotional.block-promotional-color-purple.block-promotional-background-dark .openy-digital-signage-block-promotional__headline {
      color: #c6168d; }
    .openy-digital-signage-block-promotional .block-promotional.block-promotional-color-purple.block-promotional-background-dark .openy-digital-signage-block-promotional__subheading {
      color: #92278f; }
    .openy-digital-signage-block-promotional .block-promotional.block-promotional-color-green .openy-digital-signage-block-promotional__headline {
      color: #01a490; }
    .openy-digital-signage-block-promotional .block-promotional.block-promotional-color-green .openy-digital-signage-block-promotional__subheading {
      color: #006b6b; }
    .openy-digital-signage-block-promotional .block-promotional.block-promotional-color-green.block-promotional-background-dark .openy-digital-signage-block-promotional__headline {
      color: #20bdbe; }
    .openy-digital-signage-block-promotional .block-promotional.block-promotional-color-green.block-promotional-background-dark .openy-digital-signage-block-promotional__subheading {
      color: #01a490; }
    .openy-digital-signage-block-promotional .block-promotional.block-promotional-background-light .openy-digital-signage-block-promotional__message {
      color: #231f20; }
    .openy-digital-signage-block-promotional .block-promotional.block-promotional-background-dark .openy-digital-signage-block-promotional__message {
      color: #fff; }

.openy-digital-singage-block-promotional__image {
  background-position: center center;
  height: 100%; }

.openy-digital-signage-block-promotional__headline {
  font-size: 6.25vw;
  line-height: 6.25vw;
  margin: 0;
  text-transform: uppercase; }
  .portrait .openy-digital-signage-block-promotional__headline {
    font-size: 4.16667vh;
    line-height: 4.16667vh; }
  .openy-ds-layout-2col--right .openy-digital-signage-block-promotional__headline {
    font-size: 3.125vw;
    line-height: 3.125vw; }

.openy-digital-signage-block-promotional__subheading {
  font-size: 3.125vw;
  line-height: 3.64583vw;
  margin: 0;
  margin-top: 3.125vw;
  text-transform: uppercase; }
  .portrait .openy-digital-signage-block-promotional__subheading {
    font-size: 2.60417vh;
    line-height: 3.125vh; }
  .openy-ds-layout-2col--right .openy-digital-signage-block-promotional__subheading {
    font-size: 2.08333vw;
    line-height: 2.5vw; }

.openy-digital-signage-block-promotional__message {
  font-size: 1.5625vw;
  letter-spacing: -0.07292vw;
  line-height: 2.08333vw;
  margin-top: 3.125vw; }
  .portrait .openy-digital-signage-block-promotional__message {
    font-size: 1.5625vh;
    letter-spacing: -0.07292vh;
    line-height: 2.08333vh; }

.openy-digital-signage-block-promotional__text-content {
  font-family: "Cachet-Book";
  padding: 7.8125vw;
  position: absolute; }
  .block-promotional-message-position-top .openy-digital-signage-block-promotional__text-content {
    top: 0; }
  .block-promotional-message-position-bottom .openy-digital-signage-block-promotional__text-content {
    bottom: 0; }
  .block-promotional-layout-l-left-50 .openy-digital-signage-block-promotional__text-content {
    width: 57.8125vw; }
  .block-promotional-layout-l-bottom-50 .openy-digital-signage-block-promotional__text-content {
    width: 100%; }
  .block-promotional-layout-l-bottom-50.block-promotional-message-position-top .openy-digital-signage-block-promotional__text-content {
    top: 50%;
    -webkit-transform: translateY(-7.8125vw);
        -ms-transform: translateY(-7.8125vw);
            transform: translateY(-7.8125vw); }
  .openy-ds-layout-2col--right .openy-digital-signage-block-promotional__text-content {
    padding-left: 4.6875vw;
    max-width: 100%; }
  .portrait .openy-digital-signage-block-promotional__text-content {
    padding: 7.8125vh; }
  .portrait .block-promotional-message-position-bottom.block-promotional-layout-p-top-33 .openy-digital-signage-block-promotional__text-content {
    bottom: 66.667%;
    -webkit-transform: translateY(7.8125vh);
        -ms-transform: translateY(7.8125vh);
            transform: translateY(7.8125vh); }
  .portrait .block-promotional-message-position-top.block-promotional-layout-p-bottom-33 .openy-digital-signage-block-promotional__text-content {
    top: 66.667%;
    -webkit-transform: translateY(-7.8125vh);
        -ms-transform: translateY(-7.8125vh);
            transform: translateY(-7.8125vh); }

/* Effective height is 108px */
.block-class-ticker {
  height: 5.625vw;
  position: relative;
  overflow: hidden; }
  .block-class-ticker .active-classes,
  .block-class-ticker .class-active,
  .block-class-ticker .class-next,
  .block-class-ticker .class-prev {
    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-transition: top 0.5s;
    transition: top 0.5s; }
  .block-class-ticker .class-active {
    top: 0; }
  .block-class-ticker .class-next {
    top: 100%; }
  .block-class-ticker .class-prev {
    top: -100%; }

.block-class-ticker__status {
  font-size: 1.5625vw;
  font-weight: bold;
  height: 100%;
  left: 0;
  line-height: 5.625vw;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  width: 5.625vw;
  background-color: #92278f; }
  .block-class-ticker__status--next {
    display: none; }
  .block-class-ticker__status--now {
    display: block; }
  .has-class-awaiting .block-class-ticker__status .block-class-ticker__status--next {
    display: block; }
  .has-class-awaiting .block-class-ticker__status .block-class-ticker__status--now {
    display: none; }
  .block-class-ticker__status span {
    color: #fff;
    opacity: 0.4; }

.block-class-ticker__content {
  font-family: "Cachet", Arial, sans-serif;
  font-size: 1.5625vw;
  height: 100%;
  line-height: 5.625vw;
  margin-left: 5.625vw;
  position: relative; }
  .class-active .block-class-ticker__content .class,
  .class-next .block-class-ticker__content .class,
  .class-prev .block-class-ticker__content .class {
    background-color: #5c2e91;
    border-radius: 0;
    box-shadow: none;
    height: 100%;
    left: 0;
    margin: 0;
    opacity: 1;
    padding-left: 3.2vw;
    top: 0;
    width: 100%; }
    .class-active .block-class-ticker__content .class .class-name,
    .class-next .block-class-ticker__content .class .class-name,
    .class-prev .block-class-ticker__content .class .class-name {
      color: #fff;
      font-size: 2.08333vw;
      font-weight: bold;
      margin: 0;
      display: inline; }
      .class-active .block-class-ticker__content .class .class-name sup,
      .class-next .block-class-ticker__content .class .class-name sup,
      .class-prev .block-class-ticker__content .class .class-name sup {
        font-size: 0.9375vw;
        vertical-align: super; }
    .class-active .block-class-ticker__content .class .trainer,
    .class-next .block-class-ticker__content .class .trainer,
    .class-prev .block-class-ticker__content .class .trainer {
      color: #00aeef;
      display: inline;
      font-size: 2.08333vw;
      font-weight: bold;
      padding-left: 1em;
      position: static; }
      .class-active .block-class-ticker__content .class .trainer .trainer__substitute,
      .class-next .block-class-ticker__content .class .trainer .trainer__substitute,
      .class-prev .block-class-ticker__content .class .trainer .trainer__substitute {
        color: #fcaf17; }
      .class-active .block-class-ticker__content .class .trainer .trainer__substitute,
      .class-active .block-class-ticker__content .class .trainer .trainer__substitute__icon,
      .class-active .block-class-ticker__content .class .trainer .trainer__substituted,
      .class-next .block-class-ticker__content .class .trainer .trainer__substitute,
      .class-next .block-class-ticker__content .class .trainer .trainer__substitute__icon,
      .class-next .block-class-ticker__content .class .trainer .trainer__substituted,
      .class-prev .block-class-ticker__content .class .trainer .trainer__substitute,
      .class-prev .block-class-ticker__content .class .trainer .trainer__substitute__icon,
      .class-prev .block-class-ticker__content .class .trainer .trainer__substituted {
        position: static;
        padding: 0;
        margin: 0;
        font-size: 2.08333vw;
        font-weight: bold; }
      .class-active .block-class-ticker__content .class .trainer .trainer__substitute__icon,
      .class-next .block-class-ticker__content .class .trainer .trainer__substitute__icon,
      .class-prev .block-class-ticker__content .class .trainer .trainer__substitute__icon {
        font-size: 60%; }
    .class-active .block-class-ticker__content .class .class-time-frame,
    .class-next .block-class-ticker__content .class .class-time-frame,
    .class-prev .block-class-ticker__content .class .class-time-frame {
      bottom: 0;
      color: #fff;
      font-size: 1.82292vw;
      font-weight: bold;
      letter-spacing: -0.07812vw;
      margin: 0;
      position: absolute;
      right: 0;
      top: 0;
      -webkit-transition: width 0.5s, font-size 0.5s;
      transition: width 0.5s, font-size 0.5s;
      width: 45vw; }
      .class-active .block-class-ticker__content .class .class-time-frame .class-time-frame-from,
      .class-active .block-class-ticker__content .class .class-time-frame .class-time-frame-to,
      .class-next .block-class-ticker__content .class .class-time-frame .class-time-frame-from,
      .class-next .block-class-ticker__content .class .class-time-frame .class-time-frame-to,
      .class-prev .block-class-ticker__content .class .class-time-frame .class-time-frame-from,
      .class-prev .block-class-ticker__content .class .class-time-frame .class-time-frame-to {
        right: 80%;
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        margin: 0;
        -webkit-transition: font-size 0.5s, left 0.5s, right 0.5s;
        transition: font-size 0.5s, left 0.5s, right 0.5s; }
      .class-active .block-class-ticker__content .class .class-time-frame .class-time-frame-to,
      .class-next .block-class-ticker__content .class .class-time-frame .class-time-frame-to,
      .class-prev .block-class-ticker__content .class .class-time-frame .class-time-frame-to {
        left: 80%;
        right: auto; }
      .class-active .block-class-ticker__content .class .class-time-frame .class-time-frame-progress,
      .class-next .block-class-ticker__content .class .class-time-frame .class-time-frame-progress,
      .class-prev .block-class-ticker__content .class .class-time-frame .class-time-frame-progress {
        width: 52%;
        height: 0.83333vw;
        border-radius: 0.41667vw;
        top: 50%;
        margin: auto;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%); }
    .class-active .block-class-ticker__content .class.class-awaiting,
    .class-next .block-class-ticker__content .class.class-awaiting,
    .class-prev .block-class-ticker__content .class.class-awaiting {
      height: 100%; }
      .class-active .block-class-ticker__content .class.class-awaiting .class-time-frame,
      .class-next .block-class-ticker__content .class.class-awaiting .class-time-frame,
      .class-prev .block-class-ticker__content .class.class-awaiting .class-time-frame {
        width: 15vw;
        opacity: 1;
        background-color: #6d429e; }
        .class-active .block-class-ticker__content .class.class-awaiting .class-time-frame .class-time-frame-from,
        .class-next .block-class-ticker__content .class.class-awaiting .class-time-frame .class-time-frame-from,
        .class-prev .block-class-ticker__content .class.class-awaiting .class-time-frame .class-time-frame-from {
          font-size: 3.125vw;
          letter-spacing: -0.10417vw;
          right: 0;
          left: 0;
          text-align: center; }
        .class-active .block-class-ticker__content .class.class-awaiting .class-time-frame .class-time-frame-to,
        .class-next .block-class-ticker__content .class.class-awaiting .class-time-frame .class-time-frame-to,
        .class-prev .block-class-ticker__content .class.class-awaiting .class-time-frame .class-time-frame-to {
          left: 1000%; }
        .class-active .block-class-ticker__content .class.class-awaiting .class-time-frame .class-time-frame-progress,
        .class-next .block-class-ticker__content .class.class-awaiting .class-time-frame .class-time-frame-progress,
        .class-prev .block-class-ticker__content .class.class-awaiting .class-time-frame .class-time-frame-progress {
          left: 1000%; }

.openy-ds-layout.portrait .block-class-ticker {
  height: 5.625vh; }

.openy-ds-layout.portrait .block-class-ticker__status {
  font-size: 1.5625vh;
  line-height: 5.625vh;
  width: 5.625vh; }
  .openy-ds-layout.portrait .block-class-ticker__status .ds-icon {
    line-height: 5.625vh; }

.openy-ds-layout.portrait .block-class-ticker__content {
  font-size: 1.5625vh;
  line-height: 5.625vh;
  padding-left: 5.625vh; }

.openy-res-layout.scheme-orange .block-class-ticker__status {
  background-color: #dd5828; }

.openy-res-layout.scheme-orange .class-active .block-class-ticker__content .class,
.openy-res-layout.scheme-orange .class-next .block-class-ticker__content .class,
.openy-res-layout.scheme-orange .class-prev .block-class-ticker__content .class {
  background-color: #a92b31; }
  .openy-res-layout.scheme-orange .class-active .block-class-ticker__content .class .class-name,
  .openy-res-layout.scheme-orange .class-next .block-class-ticker__content .class .class-name,
  .openy-res-layout.scheme-orange .class-prev .block-class-ticker__content .class .class-name {
    color: #fff; }
  .openy-res-layout.scheme-orange .class-active .block-class-ticker__content .class .trainer,
  .openy-res-layout.scheme-orange .class-next .block-class-ticker__content .class .trainer,
  .openy-res-layout.scheme-orange .class-prev .block-class-ticker__content .class .trainer {
    color: #fcaf17; }
    .openy-res-layout.scheme-orange .class-active .block-class-ticker__content .class .trainer .trainer__substitute,
    .openy-res-layout.scheme-orange .class-active .block-class-ticker__content .class .trainer .trainer__substitute__icon,
    .openy-res-layout.scheme-orange .class-active .block-class-ticker__content .class .trainer .trainer__substituted,
    .openy-res-layout.scheme-orange .class-next .block-class-ticker__content .class .trainer .trainer__substitute,
    .openy-res-layout.scheme-orange .class-next .block-class-ticker__content .class .trainer .trainer__substitute__icon,
    .openy-res-layout.scheme-orange .class-next .block-class-ticker__content .class .trainer .trainer__substituted,
    .openy-res-layout.scheme-orange .class-prev .block-class-ticker__content .class .trainer .trainer__substitute,
    .openy-res-layout.scheme-orange .class-prev .block-class-ticker__content .class .trainer .trainer__substitute__icon,
    .openy-res-layout.scheme-orange .class-prev .block-class-ticker__content .class .trainer .trainer__substituted {
      color: #fcaf17; }
  .openy-res-layout.scheme-orange .class-active .block-class-ticker__content .class .class-time-frame,
  .openy-res-layout.scheme-orange .class-next .block-class-ticker__content .class .class-time-frame,
  .openy-res-layout.scheme-orange .class-prev .block-class-ticker__content .class .class-time-frame {
    color: #fff; }
    .openy-res-layout.scheme-orange .class-active .block-class-ticker__content .class .class-time-frame .class-time-frame-from,
    .openy-res-layout.scheme-orange .class-active .block-class-ticker__content .class .class-time-frame .class-time-frame-to,
    .openy-res-layout.scheme-orange .class-next .block-class-ticker__content .class .class-time-frame .class-time-frame-from,
    .openy-res-layout.scheme-orange .class-next .block-class-ticker__content .class .class-time-frame .class-time-frame-to,
    .openy-res-layout.scheme-orange .class-prev .block-class-ticker__content .class .class-time-frame .class-time-frame-from,
    .openy-res-layout.scheme-orange .class-prev .block-class-ticker__content .class .class-time-frame .class-time-frame-to {
      color: #fff; }
  .openy-res-layout.scheme-orange .class-active .block-class-ticker__content .class.class-awaiting .class-time-frame,
  .openy-res-layout.scheme-orange .class-next .block-class-ticker__content .class.class-awaiting .class-time-frame,
  .openy-res-layout.scheme-orange .class-prev .block-class-ticker__content .class.class-awaiting .class-time-frame {
    background-color: #dd5828; }

.openy-res-layout.scheme-blue .block-class-ticker__status {
  background-color: #0089d0; }

.openy-res-layout.scheme-blue .class-active .block-class-ticker__content .class,
.openy-res-layout.scheme-blue .class-next .block-class-ticker__content .class,
.openy-res-layout.scheme-blue .class-prev .block-class-ticker__content .class {
  background-color: #0060af; }
  .openy-res-layout.scheme-blue .class-active .block-class-ticker__content .class .class-name,
  .openy-res-layout.scheme-blue .class-next .block-class-ticker__content .class .class-name,
  .openy-res-layout.scheme-blue .class-prev .block-class-ticker__content .class .class-name {
    color: #fff; }
  .openy-res-layout.scheme-blue .class-active .block-class-ticker__content .class .trainer,
  .openy-res-layout.scheme-blue .class-next .block-class-ticker__content .class .trainer,
  .openy-res-layout.scheme-blue .class-prev .block-class-ticker__content .class .trainer {
    color: #20bdbe; }
    .openy-res-layout.scheme-blue .class-active .block-class-ticker__content .class .trainer .trainer__substitute,
    .openy-res-layout.scheme-blue .class-next .block-class-ticker__content .class .trainer .trainer__substitute,
    .openy-res-layout.scheme-blue .class-prev .block-class-ticker__content .class .trainer .trainer__substitute {
      color: #fcaf17; }
    .openy-res-layout.scheme-blue .class-active .block-class-ticker__content .class .trainer .trainer__substitute__icon,
    .openy-res-layout.scheme-blue .class-active .block-class-ticker__content .class .trainer .trainer__substituted,
    .openy-res-layout.scheme-blue .class-next .block-class-ticker__content .class .trainer .trainer__substitute__icon,
    .openy-res-layout.scheme-blue .class-next .block-class-ticker__content .class .trainer .trainer__substituted,
    .openy-res-layout.scheme-blue .class-prev .block-class-ticker__content .class .trainer .trainer__substitute__icon,
    .openy-res-layout.scheme-blue .class-prev .block-class-ticker__content .class .trainer .trainer__substituted {
      color: #20bdbe; }
  .openy-res-layout.scheme-blue .class-active .block-class-ticker__content .class .class-time-frame,
  .openy-res-layout.scheme-blue .class-next .block-class-ticker__content .class .class-time-frame,
  .openy-res-layout.scheme-blue .class-prev .block-class-ticker__content .class .class-time-frame {
    color: #fff; }
    .openy-res-layout.scheme-blue .class-active .block-class-ticker__content .class .class-time-frame .class-time-frame-from,
    .openy-res-layout.scheme-blue .class-active .block-class-ticker__content .class .class-time-frame .class-time-frame-to,
    .openy-res-layout.scheme-blue .class-next .block-class-ticker__content .class .class-time-frame .class-time-frame-from,
    .openy-res-layout.scheme-blue .class-next .block-class-ticker__content .class .class-time-frame .class-time-frame-to,
    .openy-res-layout.scheme-blue .class-prev .block-class-ticker__content .class .class-time-frame .class-time-frame-from,
    .openy-res-layout.scheme-blue .class-prev .block-class-ticker__content .class .class-time-frame .class-time-frame-to {
      color: #fff; }
    .openy-res-layout.scheme-blue .class-active .block-class-ticker__content .class .class-time-frame .class-time-frame-progress,
    .openy-res-layout.scheme-blue .class-next .block-class-ticker__content .class .class-time-frame .class-time-frame-progress,
    .openy-res-layout.scheme-blue .class-prev .block-class-ticker__content .class .class-time-frame .class-time-frame-progress {
      background-color: #0089d0; }
  .openy-res-layout.scheme-blue .class-active .block-class-ticker__content .class.class-awaiting .class-time-frame,
  .openy-res-layout.scheme-blue .class-next .block-class-ticker__content .class.class-awaiting .class-time-frame,
  .openy-res-layout.scheme-blue .class-prev .block-class-ticker__content .class.class-awaiting .class-time-frame {
    background-color: #0089d0; }

.openy-res-layout.scheme-purple .block-class-ticker__status {
  background-color: #92278f; }

.openy-res-layout.scheme-purple .class-active .block-class-ticker__content .class,
.openy-res-layout.scheme-purple .class-next .block-class-ticker__content .class,
.openy-res-layout.scheme-purple .class-prev .block-class-ticker__content .class {
  background-color: #5c2e91; }
  .openy-res-layout.scheme-purple .class-active .block-class-ticker__content .class .class-name,
  .openy-res-layout.scheme-purple .class-next .block-class-ticker__content .class .class-name,
  .openy-res-layout.scheme-purple .class-prev .block-class-ticker__content .class .class-name {
    color: #fff; }
  .openy-res-layout.scheme-purple .class-active .block-class-ticker__content .class .trainer,
  .openy-res-layout.scheme-purple .class-next .block-class-ticker__content .class .trainer,
  .openy-res-layout.scheme-purple .class-prev .block-class-ticker__content .class .trainer {
    color: #20bdbe; }
    .openy-res-layout.scheme-purple .class-active .block-class-ticker__content .class .trainer .trainer__substitute,
    .openy-res-layout.scheme-purple .class-next .block-class-ticker__content .class .trainer .trainer__substitute,
    .openy-res-layout.scheme-purple .class-prev .block-class-ticker__content .class .trainer .trainer__substitute {
      color: #fcaf17; }
    .openy-res-layout.scheme-purple .class-active .block-class-ticker__content .class .trainer .trainer__substitute__icon,
    .openy-res-layout.scheme-purple .class-active .block-class-ticker__content .class .trainer .trainer__substituted,
    .openy-res-layout.scheme-purple .class-next .block-class-ticker__content .class .trainer .trainer__substitute__icon,
    .openy-res-layout.scheme-purple .class-next .block-class-ticker__content .class .trainer .trainer__substituted,
    .openy-res-layout.scheme-purple .class-prev .block-class-ticker__content .class .trainer .trainer__substitute__icon,
    .openy-res-layout.scheme-purple .class-prev .block-class-ticker__content .class .trainer .trainer__substituted {
      color: #20bdbe; }
  .openy-res-layout.scheme-purple .class-active .block-class-ticker__content .class .class-time-frame,
  .openy-res-layout.scheme-purple .class-next .block-class-ticker__content .class .class-time-frame,
  .openy-res-layout.scheme-purple .class-prev .block-class-ticker__content .class .class-time-frame {
    color: #fff; }
    .openy-res-layout.scheme-purple .class-active .block-class-ticker__content .class .class-time-frame .class-time-frame-from,
    .openy-res-layout.scheme-purple .class-active .block-class-ticker__content .class .class-time-frame .class-time-frame-to,
    .openy-res-layout.scheme-purple .class-next .block-class-ticker__content .class .class-time-frame .class-time-frame-from,
    .openy-res-layout.scheme-purple .class-next .block-class-ticker__content .class .class-time-frame .class-time-frame-to,
    .openy-res-layout.scheme-purple .class-prev .block-class-ticker__content .class .class-time-frame .class-time-frame-from,
    .openy-res-layout.scheme-purple .class-prev .block-class-ticker__content .class .class-time-frame .class-time-frame-to {
      color: #fff; }
    .openy-res-layout.scheme-purple .class-active .block-class-ticker__content .class .class-time-frame .class-time-frame-progress,
    .openy-res-layout.scheme-purple .class-next .block-class-ticker__content .class .class-time-frame .class-time-frame-progress,
    .openy-res-layout.scheme-purple .class-prev .block-class-ticker__content .class .class-time-frame .class-time-frame-progress {
      background-color: #0060af; }
      .openy-res-layout.scheme-purple .class-active .block-class-ticker__content .class .class-time-frame .class-time-frame-progress .class-time-frame-progress-bar,
      .openy-res-layout.scheme-purple .class-next .block-class-ticker__content .class .class-time-frame .class-time-frame-progress .class-time-frame-progress-bar,
      .openy-res-layout.scheme-purple .class-prev .block-class-ticker__content .class .class-time-frame .class-time-frame-progress .class-time-frame-progress-bar {
        background-color: #0089d0; }
  .openy-res-layout.scheme-purple .class-active .block-class-ticker__content .class.class-awaiting .class-time-frame,
  .openy-res-layout.scheme-purple .class-next .block-class-ticker__content .class.class-awaiting .class-time-frame,
  .openy-res-layout.scheme-purple .class-prev .block-class-ticker__content .class.class-awaiting .class-time-frame {
    background-color: #92278f; }
