.screen-schedule-ui {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }
  .screen-schedule-ui .screen-schedule-ui--left,
  .screen-schedule-ui .screen-schedule-ui--right {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 66%;
        -ms-flex: 0 1 66%;
            flex: 0 1 66%;
    position: relative;
    overflow: hidden; }
  .screen-schedule-ui .screen-schedule-ui--left {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 34%;
        -ms-flex: 0 1 34%;
            flex: 0 1 34%;
    padding-right: 30px; }
  .screen-schedule-ui .screen-schedule-ui--right > div {
    height: 100%;
    position: relative; }

.screen-schedule-timeline {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 500px;
  position: relative; }
  .screen-schedule-timeline .screen-schedule-timeline__current-time {
    position: absolute;
    top: 0;
    left: 10px;
    right: 10px;
    border-top: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
    z-index: 11; }
  .screen-schedule-timeline .screen-schedule-timeline__hours {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 20%;
        -ms-flex: 0 1 20%;
            flex: 0 1 20%;
    position: relative;
    height: 100%;
    overflow: hidden; }
    .screen-schedule-timeline .screen-schedule-timeline__hours .screen-schedule-timeline-hour {
      height: 80px;
      padding-left: 20px;
      border-top: 1px solid rgba(0, 0, 0, 0.25); }
    .screen-schedule-timeline .screen-schedule-timeline__hours .screen-schedule-timeline-hour--last {
      height: auto;
      border-top: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.25);
      position: absolute;
      bottom: 0;
      width: 100%; }
  .screen-schedule-timeline .screen-schedule-timeline__schedule-items {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 80%;
        -ms-flex: 0 1 80%;
            flex: 0 1 80%;
    position: relative;
    overflow: hidden; }
  .screen-schedule-timeline .screen-schedule-item {
    font-size: 16px;
    padding: 3px 3em 3px 3px;
    position: absolute;
    height: 100px;
    overflow: hidden;
    border: 1px solid grey;
    background-color: #a0a0a0;
    opacity: 0.85;
    cursor: pointer;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    -webkit-transition: opacity 200ms;
    transition: opacity 200ms;
    min-height: 30px; }
    .screen-schedule-timeline .screen-schedule-item:hover {
      opacity: 1; }
    .screen-schedule-timeline .screen-schedule-item--active {
      box-shadow: 1px 3px 4px black;
      margin-top: -1px;
      margin-left: -1px;
      opacity: 1;
      z-index: 12 !important; }
    .screen-schedule-timeline .screen-schedule-item--fallback {
      left: 40px;
      right: 0;
      height: 100%; }
      .screen-schedule-timeline .screen-schedule-item--fallback.screen-schedule-item--active {
        z-index: 1 !important; }
    .screen-schedule-timeline .screen-schedule-item--regular {
      background-color: #dcdc20;
      z-index: 5;
      left: 20px;
      right: 20px; }
      .screen-schedule-timeline .screen-schedule-item--regular:hover {
        z-index: 15; }
    .screen-schedule-timeline .screen-schedule-item--override {
      background-color: #ff8020;
      z-index: 10;
      left: 5px;
      right: 40px; }
      .screen-schedule-timeline .screen-schedule-item--override:hover {
        z-index: 15; }
    .screen-schedule-timeline .screen-schedule-item--disabled {
      background-color: rgba(234, 234, 234, 0.75);
      border: 1px dashed grey;
      z-index: 4; }
      .screen-schedule-timeline .screen-schedule-item--disabled .screen-schedule-item__title {
        font-style: italic; }
      .screen-schedule-timeline .screen-schedule-item--disabled .screen-schedule-item__disabled-message {
        font-size: 80%;
        font-style: italic; }
    .screen-schedule-timeline .screen-schedule-item a {
      color: #333;
      border-bottom: 1px dashed rgba(0, 0, 0, 0.5);
      text-decoration: none; }
      .screen-schedule-timeline .screen-schedule-item a:hover {
        border-bottom: 1px solid black; }
  .screen-schedule-timeline .screen-schedule-item__title {
    font-weight: bold; }
  .screen-schedule-timeline .screen-schedule-item__time {
    font-size: 80%;
    white-space: nowrap; }
  .screen-schedule-timeline .screen-schedule-item__edit-link {
    position: absolute;
    top: 3px;
    right: 10px; }
  .screen-schedule-timeline .screen-schedule-new-item {
    background-color: #c04000;
    border-radius: 100%;
    border: 2px solid black;
    bottom: 30px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    display: block;
    font-size: 0;
    height: 40px;
    line-height: 0;
    opacity: 0.75;
    position: absolute;
    right: 30px;
    -webkit-transform: translateX(50%) translateY(50%);
        -ms-transform: translateX(50%) translateY(50%);
            transform: translateX(50%) translateY(50%);
    -webkit-transition: width 200ms, height 200ms, opacity 200ms;
    transition: width 200ms, height 200ms, opacity 200ms;
    width: 40px;
    z-index: 100; }
    .screen-schedule-timeline .screen-schedule-new-item:hover {
      height: 50px;
      opacity: 1;
      width: 50px; }
    .screen-schedule-timeline .screen-schedule-new-item:before {
      content: "+";
      font-size: 30px;
      line-height: 30px;
      text-decoration: none;
      color: white;
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
          -ms-transform: translateX(-50%) translateY(-50%);
              transform: translateX(-50%) translateY(-50%); }

.screen-schedule-redraw-button a.button {
  margin: 20px 0;
  float: left; }

.screen-schedule-calendar {
  padding-top: 25px; }
  .screen-schedule-calendar table {
    width: auto;
    margin: auto; }
  .screen-schedule-calendar th,
  .screen-schedule-calendar td {
    text-align: center;
    padding: 0; }
  .screen-schedule-calendar th {
    padding-top: 2px;
    padding-bottom: 2px; }
  .screen-schedule-calendar th > a {
    display: inline; }
  .screen-schedule-calendar td > a {
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 24px;
    padding: 6px;
    text-align: center;
    color: #333333; }
    .screen-schedule-calendar td > a:hover {
      background-color: #c0c0c0; }
    .screen-schedule-calendar td > a.today {
      background-color: #e1e1e1; }
    .screen-schedule-calendar td > a.selected {
      border: 2px solid black;
      line-height: 20px; }
    .screen-schedule-calendar td > a.has-override {
      background-color: #FFB040; }
  .screen-schedule-calendar .ajax-progress.ajax-progress-throbber {
    position: absolute; }

.frame-container {
  background-color: #CCCCCC;
  border: 1px solid #808080;
  padding-bottom: 56.25%;
  position: relative;
  width: 100%; }
  .frame-container.frame-container--portrait {
    padding-bottom: 100%; }
    .frame-container.frame-container--portrait iframe {
      width: 56.25%;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%); }
  .frame-container iframe {
    border: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
